<div class="container">
  <h1>Deaf Grandma</h1>
<%= erb :my_partial %>
  <form id='the_form' action="/grandma" method="post">
    Say something to Grandma:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>
  <p id="someid"></p>
</div>
