<div class="container">
  <h1>Deaf Grandma</h1>

<div id="grandma_words">

</div>


  <form id="grandma" action="/grandma" method="post">
    Say something to Grandma:
    <br>
    <input id="words" type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>
</div>
